body { 
    margin: 60px auto;
    width: 60%;
    padding-top: 50px;
}

h1 {
    font-size: 3.0em;
    font-family:'futura';
    text-align: center;
    color: #FFA07A;
}

p {
    font-size: 1.5em;
    font-family: 'futura';
    text-align: center;
    line-height: 1.5em;
    color: #333;
}

a {
    font-family: 'futura';
    color: #FFA07A;
    text-decoration: none;
}

a:hover {
    color: #ff7f4d;
    text-decoration: underline;
}

ul {
    font-family: 'futura';
    font-size: 1.5em;
    border-left: 5px solid #FFA07A;
    background-color: #fff;
    list-style-type: bullet;
    padding: 10px 20px;
}

.topnav {
    text-align: center;
}

.top {
    font-family: 'futura';
    font-size: 3.5em;
    text-align: center;
    color: #FFA07A;
}

a.top {
    text-decoration: none;
}

.content {
    height: 450px;
    width: 70%;
    background-color: pink;
    font-family: 'futura';
    font-size: 1em;
    text-align: left;
    color: #FFF;
}
