body { 
    margin: 60px auto;
    width: 70%;
}

h1 {
    font-size: 3em;
    font-family:'futura';
    text-align: center;
}

p {
    font-size: 1.5em;
    font-family: 'futura';
    line-height: 1.4em;
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #fff;
    color: black;
}

li a:hover:not(.active) {
    background-color: #fff;
    color: black;
}
