body { 
    margin: 60px auto;
    width: 40%;
    padding-top:35%;
    padding-bottom:35%;
}

h1 {
    font-size: 3em;
    font-family:'futura';
    text-align: center;
}

p {
    font-size: 1.5em;
    font-family: 'futura';
    text-align: center;
    line-height: 1.5em;
    color: #333;
}

a {
    font-family: 'futura';
    color: #FFA07A;
    text-decoration: none;
}

a:hover {
    color: #ff7f4d;
}

